---
import Layout from "@layouts/Layout.astro";
import {getAllGamesByUser} from "@lib/database";
import {getUser} from "@lib/auth";
import type { Image } from "astro:assets";

const user = await getUser(Astro.request);
const userId = user?.user?.id

if (!userId) {
  return Astro.redirect("/login");
}

const {data, error} = userId ? await getAllGamesByUser(userId) : {data: [], error: null}
const sortedData = data?.sort((a, b) => new Date(b.created_at).getTime() - new Date(a.created_at).getTime())

---
<Layout title="games">
  <main class=" max-w-3xl mx-auto">
    <h1 class="text-3xl font-bold">Your Games In Progress</h1>
    <div class="flex gap-4 mt-4">
      {data && sortedData ? sortedData.map((game) => {
        
        return (
          <a 
            class="border border-gray-50 w-fit p-8 bg-gray-700 rounded text-white hover:bg-gray-500 hover:cursor-pointer"
            href={`/games/${game.id}`}
          >
            <h2 class=" text-xl">{game.type}</h2>
            <p class="text-md text-gray-300">{new Date(game.created_at).toLocaleDateString()}</p>

            <h3>Player Scores</h3>
            <ul class="flex gap-2">
              
              {Object.keys(game.scores).map((player) => {
                return (
                  <li>
                    <h2>{player}</h2>
                    <div class="flex flex-col">{game.scores[player].map((score: number[]) => {
                      return <div>{score}</div>
                    })}</div>
                  </li>
              )})}
            </ul>
          </a>
        )}) : <p>You don't have any games yet...</p>}
      </div>
    </main>
</Layout>